USE [master]
GO
/****** Object:  Database [OOP2022]    Script Date: 12/15/2022 3:19:35 PM ******/
CREATE DATABASE [OOP2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOP2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OOP2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOP2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OOP2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOP2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOP2022]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/15/2022 3:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[GPA] [numeric](3, 2) NOT NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FullName], [GPA], [Email]) VALUES (1, N'Furkan Gözükara', CAST(3.77 AS Numeric(3, 2)), NULL)
INSERT [dbo].[Students] ([Id], [FullName], [GPA], [Email]) VALUES (2, N'Furkan Gözükara 2', CAST(3.77 AS Numeric(3, 2)), NULL)
INSERT [dbo].[Students] ([Id], [FullName], [GPA], [Email]) VALUES (3, N'Furkan Gözükara 2', CAST(3.77 AS Numeric(3, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
USE [master]
GO
